
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>The view page that I created</h3>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Yunus Emre</td>
        <td>Computer Science</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Enes</td>
        <td>Boş İşler Müdürü</td>
    </tr>
</table>
